.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  width: 100vw ;
  height: 100vh
}
.appHeader{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 1px 4px 4px #00000033;
}
.storeTitle{
  margin-top: 0px;
  text-align: center;
}
.shoppingCartIcon{
  font-size: 25px;
  margin-right: 15px;
  margin-top: 13px;
  cursor: pointer;
}
.productContainer{
  padding: 8px;
}
.sortText{
  display:inline;
}
.selectOptions{
  width: 170px
}
.appMenu{
  border: none;
}
.pageContent{
  margin-top: 2px;
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */

}
.itemCard, .itemCardBadge{
  margin: 8px;
}
.itemCardImage{
  height: 150px !important;
  object-fit: scale-down;
}
.appFooter{
  height: 60px;
  background: black;
  position:absolute;
  left:0;
  right:0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
